.design {
	padding-bottom: 80px;

	@media screen and (max-width: 680px) {
		& {
			padding-bottom: 50px;
		}
	}

	@media screen and (max-width: 430px) {
		& {
			padding-bottom: 30px;
		}
	}
}

.design__strip {
	background-color: var(--primary-color);
	overflow: hidden;
}

.design__text {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 140px;
	font-weight: 600;
	color: #FFFFFF;
	animation-name: move;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	padding-left: 100%;
	white-space: nowrap;

	@media screen and (max-width: 1110px) {
		& {
			font-size: 110px;
			padding-top: 35px;
			padding-bottom: 35px;
		}
	}

	@media screen and (max-width: 770px) {
		& {
			font-size: 84px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	@media screen and (max-width: 560px) {
		& {
			font-size: 48px;
		}
	}
}

@keyframes move {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-250%, 0);
	}
}