.expertise {
	padding-bottom: 75px;

	@media screen and (max-width: 680px) {
		& {
			padding-bottom: 50px;
		}
	}
}

.expertise__title {
	margin-bottom: 45px;

	@media screen and (max-width: 850px) {
		& {
			font-size: 32px;
			margin-bottom: 35px;
		}
	}

	@media screen and (max-width: 430px) {
		& {
			font-size: 24px;
			margin-bottom: 25px;
		}
	}
}

.expertise__columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 80px;

	@media screen and (max-width: 850px) {
		& {
			gap: 60px;
		}
	}

	@media screen and (max-width: 570px) {
		& {
			gap: 45px;
		}
	}
}

.expertise__column {
	max-width: 440px;
	width: calc(50% - 40px);

	@media screen and (max-width: 570px) {
		& {
			min-width: 100%;
		}
	}
}

.expertise__item-title {
	position: relative;
	margin-bottom: 25px;
	padding-left: 20px;

	@media screen and (max-width: 850px) {
		& {
			font-size: 24px;
		}
	}

	@media screen and (max-width: 430px) {
		& {
			font-size: 20px;
		}
	}
}

.expertise__column-text {
	@media screen and (max-width: 850px) {
		& {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 430px) {
		& {
			font-size: 14px;
		}
	}
}

.expertise__item-title:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 12px;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	background-color: var(--primary-color);
}