.title-h1 {
	font-size: 14vw;
	font-weight: 600;
	color: var(--primary-color);
}

.title-h2 {
	font-size: 48px;
	font-weight: 600;
	color: var(--primary-color);
}

.title-h3 {
	font-size: 32px;
	font-weight: 600;
	color: var(--primary-color);
}